.fontBaloo{
    font-family: $fontBaloo;
}

.fontRale{
    font-family: $fontRaleway;
}
.fontRubik{
    font-family: $fontRubik;
}
.fontsize12{
    font-size: 12px;
    
}
.fontsize14{
    font-size: 14px;

}
.fontsize16{
    font-size: 16px;

}
.fontsize20{
    font-size: 20px;

}